*{
    margin:0px;
    padding:0px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 6px black;
}
ul{
    list-style: none;
}
h3{
    text-shadow:2px 2px 5px black ;
}
body{
    width: 100%;
    background-image: url(../Images/pexels-francesco-ungaro-1711323.jpg);
    color:whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    margin: 7px;
    text-align: center;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding:5px;
    justify-content: end;
    flex-wrap: wrap;
}
nav li{
    padding:20px;
}
nav a{
    color:whitesmoke;
    padding: 2px;
    font-size: 2vw;
    font-weight: bold;
    border: 1px rgb(255, 255, 255) solid;
}
nav a:hover{
    border: 1px aquamarine solid;
}
nav a:active{
    color:tomato;
}
header{
    margin: 10px;
    font-family: Georgia, serif;
    display: grid;
    grid-template-columns: 35vw 1fr;
    align-items: center;
    padding: 10px ;
}
.headerTopic{
    display: flex;
    flex-direction: column;
    margin:5px;
    margin-left:-2vw;
}
.logo{
    width: 27vw;
    height: 27vw;
    padding: 5px;
    border-radius: 100%;
}
header h3{
    font-size: 6vw;
    text-shadow:3px 3px 5px black ;
    
}
header h4{
    font-size: 5vw;
    text-shadow:2px 2px 5px black ;
    margin-bottom: 3px;
}
header h5{
    font-size: 4vw;
    text-shadow:2px 2px 4px black ;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
}
section.artImg{
    text-align: center;
}
.profile{
    width: 100%;
    height: 33vw;
}
main article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
main artImg{
    margin-left: 0;
    text-align: center;
}
.mainTxt{
    margin-left: 10px;
    align-items: center;
}
.mainTxt h3{
    font-size: 5vw;
    margin-bottom: 20px;
    text-align: center;
}
.mainTxt h4{
    font-size: 4vw;
    text-align: left;
    margin: 20px 0px;
}
.mainTxt p{
    font-size: 1.2em;
    font-family: Gill Sans, sans-serif;
    text-align: center;
}
.btn{
    text-align: center;
    margin: 20px;
    display: inline-block;
}
.btn a{
    font-size: 3vw;
    border: whitesmoke 1px solid;
    padding: 5px;
    text-decoration:rgb(179, 22, 30) 3px underline;
    color: whitesmoke;
    transition-property: color, border;
    transition-duration: 1s;

}
.btn a:hover{
    color:lightseagreen;
    border-color: lightseagreen;
}
.footerLinks{
    text-align: center;
    justify-content: center;
    margin: 20px;
}
.footerLinks ul{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}
.footerLinks li{
    padding: 3vw;
}

.footerLinks a{
    color: white;
    font-size: 3vw;
    padding: 5px;
    transition-property: color,border;
    transition-duration: 1s;
}
.footerLinks a:hover{
    border: 1px white solid;
}
footer{
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.cntctIfo ul{ 
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding:20px;
}
.cntctIfo a{
    font-size: 3vw;
    color: whitesmoke;
    font-weight: bold;
}
.SocialMedias{
    justify-content:end;
}
.SocialMedias ul{
    display: flex;
    margin-left:15px;
    
    justify-content: end;
}
.SocialMedias li{
    padding:10px 20px;
    text-align: center;
}
.SocialMedias img{
    width:6vw;
    height: 6vw;
    transition-property: width, height, border-radius, border;
    transition-duration: 2s;
} 
.SocialMedias img:hover{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    border:white 1px solid;
}
.SocialMedias h4{
    font-size: 40px;
    text-align: center;
}

@media (max-width:800px) {
    nav{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    nav ul{justify-content: center;}
    nav li{padding: 8px;}
    nav a{
        font-size: 3vw;
    }
    header{
        grid-template-columns: 38vw 1fr;
    }
    .headerTopic h3{
        font-size: 7vw;
    }
    .profile {
        height: 400px;
    }
    main{
        margin:70px 50px;
    }
    main article{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }
    .mainTxt h3{
        font-size: 10vw;
    }
    .mainTxt p{
        font-size: 3vw;
    }
    .btn {
        margin-top: 40px;
    }
    .btn a{
        font-size: 4vw;
    }
    
    .footerLinks{
        margin: 10px;
    }
    .footerLinks ul{
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }
    .footerLinks li{
        padding:2vw;
    }
    .footerLinks a{
        font-size: 4vw;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-content: center;
        margin: 10px;
    }
    .cntctIfo{
        margin-right:0px;
    }
    .cntctIfo a{
        font-size: 6vw;
    }
    .SocialMedias{
        justify-content: center;
    }
    .SocialMedias ul{
        justify-content: space-between;
        margin:0px;
    }
    .SocialMedias img{
        width:40px;
        height:40px;
    } 
    .SocialMedias li{
        padding:10px 10px;
        text-align: center;
    }
    .SocialMedias h4{
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: black 2px 2px 2px ;
    }   
}
@media(max-width:350px){
    html{
        width: auto;
    }
    nav {
        text-align: center;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    nav li{
        padding: 10px;
    }
    nav a{
        font-size: 6vw;
    }
    .headerTopic{
        text-align: center;
    }
    .headerTopic h3{
        font-size: 6vw;
        margin-bottom: 7px;
    }
    .headerTopic h5{
        font-size: 5vw;
    }
    main{
        margin:20px 30px;
    }
    .mainTxt p {
        font-size: 1em;
        font-family: monospace;
    }
    .btn{
        margin: 15px;
        font-size: 7vw;
    }
    .btn a{
        font-size: 6vw;
    }
    .footerLinks a{
        font-size: 6vw;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .cntctIfo a{
        font-size: 6vw;
    }
    .cntctIfo ul{
        margin:0px;
        padding:0px;
    }
    .SocialMedias li{
        padding:5px 0px;
        text-align: center;
    }
    .SocialMedias h4{
        font-size: 25px;
    }
    p{
        font-size: 4em;
    }
    .profile {
        height:55vw;
    }
}